  <aside class="bg-dark" id="aside">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>What is it doing?</h2>
              <p>We're building open-source solutions with software and hardware using anything we can lay your hands on to make up working prototypes. We sometimes work alone and sometimes in teams on all kinds of ideas from enabling litter bins to report when they're full, to car parks publishing which of spaces are empty, to tracking late-night movement in anti-social behaviour hotspots.</p>
              <p>A few examples of current projects are below.</p>
              <a href="#portfolio" class="btn btn-default btn-xl page-scroll">Join us!</a>
          </div>
      </div>
  </aside>
