  <aside class="bg-dark" id="aside">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>What is it doing?</h2>
              <p>
                We're building open-source solutions with software and hardware, using anything we can lay your hands on to make up working prototypes. We work on all kinds of ideas from enabling litter bins to report when they're full, to car parks publishing which spaces are empty, to tracking late-night movement in anti-social behaviour hotspots.
              </p>
              <p>
                While many look to Barnsley Council to address many of the issues faced in the town, the reality is that with ever reducing funding, the relationship between citizen and state has to change. As does the way the council uses its resources. Residents, businesses and visitors must do more for themselves and the council must streamline its processes - it can't do as much as it once did.
              </p>
              <p>  
                The council recognises that technology, automation, artifical intelligence and the internet of things will play a huge part in achieving the efficiencies it needs and so the skunkworks exists to allow employees from across the organisation to step up and apply their skills where they ordinarily wouldn't. A radical approach to bring about radical change.
              </p>
              <p>A few examples of current projects are below...</p>
              <a href="#join" class="btn btn-default btn-xl page-scroll">Join us!</a>
          </div>
      </div>
  </aside>
