  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Management Approval</h2>
              <p>
                  The Skunkworks in an SMT and BLT approved venture. Attendence at any of the monthly sessions counts towards your normal working hours and your manager(s) are encouraged to support you taking time away from the day job wherever possible. If you plan to attend regularly, which we sincerely hope you do, then please speak with them first and any colleagues who may be affected.
              </p>
          </div>
      </div>
  </aside>
