<section class="bg-primary" id="what">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What exactly is it?</h2>
                <hr class="light">
                <p>Our "Skunkworks" are day-long sessions run on the fourth Thursday of each month. They take place as hack-day style events over 8 hours from 9am to 5pm. Teams are formed around prioritised issues and they set about building technology prototypes to solve them. The days end with demo presentations looking to secure invest-to-save funding and formal business case support for real-world development.</p>
                <a href="#who" class="btn btn-default btn-xl page-scroll">Is it for you?</a>
            </div>
        </div>
    </div>
</section>
