<section class="bg-primary" id="what">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What exactly is it?</h2>
                <hr class="light">
                <p>Barnsley "Skunkworks" is the name given to a collaboration between the council and the local maker community. We run 12 hour hack-day sessions on the last Thursday of every month from 7am to 7pm, in which teams come together and create technology solutions to known town issues. Working prototypes are later pitched against invest-to-save funding to be taken forward into real-world production.</p>
                <a href="#who" class="btn btn-default btn-xl page-scroll">Is it for you?</a>
            </div>
        </div>
    </div>
</section>
