<section class="bg-primary" id="what">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What exactly is it?</h2>
                <hr class="light">
                <p class="text-faded">Our "Skunkworks" are day-long sessions run on the last Thursday of every month. They take place as a hack-day style event over 12 hours from 7am to 7pm. We start by identifying problems that need to be tackled, before teams form around those and set about building technology prototypes that go someway to solving them. Workable solutions formed up over one or multiple sessions are put forward as pitches to council budget holders for funding to have them fully implemented.</p>
                <a href="#join" class="btn btn-default btn-xl page-scroll">Join us!</a>
            </div>
        </div>
    </div>
</section>
