<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Automated pothole reporting
                            </div>
                            <div class="project-name">
                                Developing a camera rig with OpenCV image interogation for our fleet of vehicles
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Workforce Mobilisation
                            </div>
                            <div class="project-name">
                                Enabling sensors to detect hotdesk occupancy in council offices
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Networks and Connectivity
                            </div>
                            <div class="project-name">
                                 Supporting the rollout of The Things Network for IoT device connectivity across Barnsley
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
